1. Importing Data from wikipedia into pandas dataframe

In [1]:
import pandas as pd
import wikipedia as wp
 
#Get the html source
html = wp.page("List of postal codes of Canada: M").html().encode("UTF-8")
dfr = pd.read_html(html)[0]
df = pd.DataFrame(dfr)
df.head()

          0             1                 2
0  Postcode       Borough     Neighbourhood
1       M1A  Not assigned      Not assigned
2       M2A  Not assigned      Not assigned
3       M3A    North York         Parkwoods
4       M4A    North York  Victoria Village

2. Naming the dataframe columns

In [2]:
df.drop(df.index[:1], inplace=True)
column_names = ['PostalCode','Borough', 'Neighborhood']
df.columns=['PostalCode','Borough', 'Neighborhood']
df.head()

  PostalCode           Borough      Neighborhood
1        M1A      Not assigned      Not assigned
2        M2A      Not assigned      Not assigned
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront

3. Checking the shape of dataframe

In [156]:
df.shape

(289, 3)

4. Borough with 'Not assigned' label are removed and Neighborhood with Not assigned tag are renamed after their Borough

In [3]:
df.drop(df[df['Borough'] == 'Not assigned'].index, inplace = True)
df['Neighborhood'][df[df['Neighborhood'] == 'Not assigned'].index] = df['Borough'][df[df['Neighborhood'] == 'Not assigned'].index]
df.head(10)

   PostalCode           Borough      Neighborhood
3         M3A        North York         Parkwoods
4         M4A        North York  Victoria Village
5         M5A  Downtown Toronto      Harbourfront
6         M5A  Downtown Toronto       Regent Park
7         M6A        North York  Lawrence Heights
8         M6A        North York    Lawrence Manor
9         M7A      Queen's Park      Queen's Park
11        M9A         Etobicoke  Islington Avenue
12        M1B       Scarborough             Rouge
13        M1B       Scarborough           Malvern

5. Neighborhood with the same postcode have been aggregated

In [12]:
df.Neighborhood = df.Neighborhood.astype(str)
result = df.groupby('PostalCode',sort=False, as_index=False).agg(lambda x: ', '.join(set(x.dropna())))
result.head()

  PostalCode           Borough                      Neighborhood
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto         Regent Park, Harbourfront
3        M6A        North York  Lawrence Manor, Lawrence Heights
4        M7A      Queen's Park                      Queen's Park

In [13]:
postcode = list(df['PostalCode'].unique())

dfn = df.drop_duplicates('PostalCode')
print(dfn.shape)

borough = list(dfn['Borough'])
len(borough)

(103, 3)

103

In [19]:
new = {'PostalCode':postcode,'Borough':borough,'Neighborhood':result['Neighborhood']}
newdf = pd.DataFrame(new)

#ind = list(range(0,len(borough)))

#dftor = newdf.set_index(pd.Index(ind))

cols = newdf.columns.tolist()
cols = cols[-1:] + cols[:-1]
dftor = newdf[cols]

In [21]:
dftor.head(15)

,PostalCode,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Queen's Park,Queen's Park
5,M9A,Etobicoke,Islington Avenue
6,M1B,Scarborough,"Rouge, Malvern"
7,M3B,North York,Don Mills North
8,M4B,East York,"Woodbine Gardens, Parkview Hill"
9,M5B,Downtown Toronto,"Ryerson, Garden District"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"West Deane Park, Islington, Martin Grove, Prin..."
12,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union"
13,M3C,North York,"Flemingdon Park, Don Mills South"
14,M4C,East York,Woodbine Heights

In [16]:
dftor.shape

(103, 3)